# Config settings for the camadmin.html build script

IPADDY=10.0.1.34
ADMIN=toor
PASS=itsas3cr3t
SSID=awesomewifi
WPAPSK=itsalsoasecret
#Timezone is odd on the foscam.  By the specs, it should be your GMT +/- * 3600
#So for GMT-5 you'd expect -5*3600 = -18000 however it's the opposite
#So take your GMT+/- * 3600 and flip the sign. 
TMZONE=18000
# Daylight Savings - 0 for no; 1 for yes
TMDST=1
MYNAME="MyCam"
